    <h1>Artists found list</h1>

        <ul>    

            {{#each result }}
            <li>
            
            <h5> {{name}}</h5>
        
            <img class="img" src="{{images.[1].url}}"/>
            <a href="/albums/{{id}}">View Albums</a>
            </li>
        
                    {{/each}}
        </ul>