<form method="GET" action="/artist-search">

    <div class="form-background">
        
            <div class="opacity-box">
                
            </div>
            <div class="input-wrapper">
                <input type="text" name="artist">        
                <button type="submit">Search for artists</button>
            </div>
            
            
    </div>
</form>